---
# This role installs httpd

- name: Install http and php etc
  apt: pkg={{ item }} state=present
  with_items:
   - apache2
   - php5
   #- libsemanage-python
   #- libselinux-python

- name: http service state
  service: name=apache2 state=started
