---
# This role contains common plays that will run on all nodes.

#- name: Create the repository for EPEL
#  copy: src=epel.repo dest=/etc/yum.repos.d/epel.repo

#- name: Create the GPG key for EPEL
#  copy: src=RPM-GPG-KEY-EPEL-6 dest=/etc/pki/rpm-gpg

#- name: install some useful nagios plugins 
#  apt: pkg={{ item }} state=present
#  with_items:
#   - nagios-nrpe-server
#   - nagios-plugins
   
- name: Install ntp 
  apt: pkg=ntp state=present
 

- name: Configure ntp file
  template: src=ntp.conf.j2 dest=/etc/ntp.conf
  tags: ntp
  notify: restart ntp

- name: Start the ntp service
  service: name=ntpd state=started enabled=true
  tags: ntp

- name: insert iptables template
  template: src=iptables.j2 dest=/etc/iptables.rules
  notify: restart iptables

#- name: test to see if selinux is running
#  command: getenforce
#  register: sestatus
#  changed_when: false
